
@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis'), url(./assets/fonts/Metropolis-Regular.otf) format('otf');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}